.App,
form,
.display-area{
  display:flex;
  flex-direction: column;
}
.App {
  padding:1rem;
  align-items: center;
}
form{
 margin:2rem 0; 
}

.display-area{
  
}
input{
  width:50vw;
  padding:.5rem;
  border-radius: 5px;
  font-size:1.2rem;
}
input:focus{
  outline:none;
}

button{
  width: fit-content;
  padding:1rem 1.5rem;
  margin:0 auto;
  margin-top:1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
button.copy-button{
  background: green;
  color:#fff;
}


